<h2 id="title">Welcome to Car Culture</h2>

{{outlet}}

<p class="lead button">  
  <button {{action "displayAlert" "test alert"}} class="btn btn-default">
    {{fa-icon "google"}}
      Sign in with Google+
  </button>
</p>  